<div class="ass-container">

    <div class="ass-sub-nav-icons content-body visible-md">
        <ul>
            <li class="text-left s-width"><img src="/Images/Common/reassurance_awards.png" class="pure-img" /><p>Award Winning</p></li>
            <li class="text-center s-width"><img src="/Images/Common/reassurance_secure.png" class="pure-img" /><p>100% Secure</p></li>
            <li class="text-center s-width"><img src="/Images/Common/reassurance_ssl.png" class="pure-img" /><p>SSL Encrypted</p></li>
            <li class="text-right l-width">
                <img src="/Images/Common/reassurance_phone.png" class="pure-img" />
                <p>USA toll free 24/7 - <span>1 866 456 5287</span></p>
            </li>
        </ul>
    </div>

    <div class="ass-sub-nav-icons content-body hidden-md">
        <ul>
            <li class="text-left s-width"><img src="/Images/Common/reassurance_awards.png" class="pure-img" /><p>Award Winning</p></li>
            <li class="text-center s-width"><img src="/Images/Common/reassurance_secure.png" class="pure-img" /><p>100% Secure</p></li>
            <li class="text-center s-width"><img src="/Images/Common/reassurance_ssl.png" class="pure-img" /><p>SSL Encrypted</p></li>
            <li class="text-right l-width">
                <img src="/Images/Common/reassurance_phone.png" class="pure-img" />
                <p>24/7 Support</p>
            </li>
        </ul>
    </div>
</div>

<hr class="plain" />