<header class="ass-header">
    <div class="ass-container content-body height">
        <img src="/Images/Common/header-image-small.jpg" class="pure-img" />
        <div class="ass-main-header-text">
            <p class="text">Get Started With Your</p>
            <p class="offer">$787 FREE</p>
            <p class="text">Casino Welcome Bonus</p>

            <div class="ass-download-button-container visible-md">
                <a id="common-header-download" class="ass-download-button" href="@Url.Action("Index", "Download", new { Area = "Core" })">Download</a>
            </div>
        </div>
    </div>
</header>