<rewriteMaps>
  <rewriteMap name="PermanentRedirectsFromOldSite">
    <add key="/a" value="/" />
    <add key="/cashier.aspx" value="/cashier" />
    <add key="/contactus.aspx" value="/about-us/contact-us" />
    <add key="/default.aspx" value="/" />
    <add key="/mobile" value="/" />
    <add key="/promotions.aspx" value="/promotions" />
    <add key="/smartdownload.asp" value="/download-thank-you"  />
    <add key="/terms.aspx" value="/terms-conditions" />
  </rewriteMap>
  <rewriteMap name="PermanentRedirectsFromOldSiteQSIgnorant" >
    <add key="/promotionterms.aspx" value="/promotions" />
    <add key="/directdownload.asp" value="/download-thank-you" />
    <add key="/aiddownload.asp" value="/download-thank-you" />
  </rewriteMap>
  <rewriteMap name="RedirectsFromOldSite">
    <add key="/fairgaming.aspx" value="/" />
    <add key="/faq.aspx" value="/about-us/contact-us" />
    <add key="/previewgames.aspx" value="/" />
    <add key="/security.aspx" value="/" />
  </rewriteMap>
</rewriteMaps>
