
@{
    ViewBag.Title = "Gambling Responsibly - We Can Help | AllStarSlots";
    ViewBag.MetaDescription = "Playing in an online casino is a rewarding hobby if enjoyed responsibly. Play safe, play with limits. Find out our responsible gaming features here.";
}
<div id="responsible-gambling-wrapper" class="ass-container">

    <div class="pure-g ass-title">
        <div class="pure-u-1">
            <h1 class="h-spacer">Responsible Gambling</h1>
        </div>
        <div class="pure-u-1 pure-u-md-1">
            <p>
                Here at All Star Slots, we understand that not everyone has total control over the amount that they gamble.
                For a small percentage of people, gambling can become a compulsion that can have serious financial consequences.
                We don't want anyone playing at All Star Slots to have this problem, and that's why we offer several options to
                help players keep control of the amount they are gambling.
            </p>
        </div>
    </div>


    <div class="pure-g ass-fade">
        <div class="pure-u-1">
            <h2 class="h2 header h-spacer">
                Self-Exclusion and Deposit Limits
            </h2>
        </div>
    </div>
    <div class="pure-g ass-content-container ass-title">
        <div class="pure-u-1">
            <p>
                We have two major tools that players can use to help regulate their play. The first tool we have is that we will
                work with you on deposit limits for daily, weekly or monthly play. These limits can help to keep you playing
                within your budget and at stakes that you can afford. It's best to decide on these limits ahead of time and to
                use them as a part of an overall strategy to manage your budget as a whole.
            </p>
            <p>
                Second, we offer total self-exclusion from All Star Slots. If you decide that you would like to have your account
                permanently closed and to never receive emails or other communication from us, we will adhere to your request. We
                never want to send communications to people who aren't interested in what we offer, but this is even more the case
                for players who feel a compulsion to gamble.
            </p>
        </div>
    </div>

    <div class="pure-g ass-fade">
        <div class="pure-u-1">
            <h2 class="h2 header h-spacer">
                Our Stance on Underage Gambling
            </h2>
        </div>
    </div>
    <div class="pure-g ass-content-container ass-title">
        <div class="pure-u-1 pure-u-md-17-24">
            <p>
                We do not encourage or condone any instances of underage gambling. Along these lines, we actively work to prevent minors
                from being able to gamble on our site, and we do not market to minors. We strongly suggest that players of legal age protect
                their account information and never leave their computer alone while the All Star Slots casino program (or any other casino
                program) is active.
            </p>
            <p>
                While we make every effort to prevent minors from playing on our site, it's possible that some minors may successfully steal
                adult log-in information or find another way to log in and gamble. If you know of such a case, please let us know by contacting
                the support team right away, and we will do everything in our power to stop it from happening.
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-7-24">
            <img src="~/Images/ResponsibleGambling/responsible-gambling.png" class="pure-img" />
            <a id="responsible-gambling-contact-us" href="@Url.Action("ContactUs", "AboutUs")" class="pure-button ass-button let-us-know">Let Us Know</a>
        </div>
    </div>

    <div class="prue-g ass-fade">
        <div class="pure-u-1">
            <h2 class="h2 header h-spacer">
                When Should You Gamble?
            </h2>
        </div>
    </div>
    <div class="row ass-content-container ass-title">
        <div class="pure-u-1">
            <p>
                Make sure that you never gamble if you find that it's getting in the way of other parts of your life like work, taking
                care of yourself or taking care of your family. You should also avoid gambling if you are in the recovery stages for any
                type of addiction or dependency. If you are not under full control of your gambling decisions, such as when you're under
                the influence of alcohol, you should refrain from gambling.
            </p>
        </div>
    </div>

    <div class="pure-g ass-fade">
        <div class="pure-u-1">
            <h2 class="h2 header h-spacer">
                Do You Need Help?
            </h2>
        </div>
    </div>
    <div class="pure-g ass-content-container ass-title">
        <div class="pure-u-1">
            <p>
                If you find yourself wanting help to stop gambling,
                or if you find that your gambling habits are getting out of control,
                then we want to help you to help yourself.
            </p>
            <p>
                Gamblers Anonymous is of the most famous support groups for compulsive or problem gambling.
                They have offices and support group meetings located all over the world, including online.
                Even if they do not have group meetings in your area, they can help to connect you with meetings from other organizations.
            </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p>You can find out more at <a id="responsible-gambling-gamblers-anonymous" href="http://www.gamblersanonymous.org/ga/" target="_blank">http://www.gamblersanonymous.org/</a></p>
            <p>More help is available at <a id="responsible-gambling-ncp-gambling" href="http://www.ncpgambling.org/" target="_blank">http://www.ncpgambling.org/</a></p>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <img src="~/Images/ResponsibleGambling/ga.jpg" class="img-responsive pull-left" />
            <img src="~/Images/ResponsibleGambling/ncpd.jpg" class="img-responsive pull-right" />
        </div>
    </div>

</div>