@model CWG.Web.Blog.ViewModels.Admin.Confirm

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>


<p>Category was @(Model.ConfirmAction == "Delete" ? "deleted" : "saved").</p>


<div>
    @Html.ActionLink("Back to List", "index")
</div>